# Pakkret City Git Exclusion
2010_bk.zip
*.zip
*.rar
*.tar.gz
*.mp4
*.avi
*.pdf
*.sql
*.bak
*.log
configuration.php
/cache/
/tmp/
/logs/
/administrator/cache/
/administrator/logs/
.wp-toolkit/
images/
media/
images/
media/
pdf/
img/
images/
media/
pdf/
img/
images/
media/
pdf/
img/
