@charset "utf-8";
body{
	margin:0;
	font-size:11px;
	color:#7A7A7A;
	font-family: Tahoma;
}

img{
		border:0px;
	}

.graphic_index {position:absolute; top:1px; left:0px; z-index:20;}
*html body .graphic_index {
	position:absolute;
	top:1px;
	left:-501px;
	z-index:20;
}

/*.graphic_index {position:absolute; top:16px; left:14px; z-index:20;}
*html body .graphic_index {
	position:absolute;
	top:16px;
	left:-487px;
	z-index:20;
}*/

.topic-page {position:absolute; top:-21px; left:0px; z-index:21;}
*html body .topic-page {
	position:absolute;
	top:-21px;
	left:0px;
	z-index:21;
}

.page {position:absolute; left:0px;top:-35px; z-index:2;}
*html body .page {
	position:absolute;
	left:15px;
	top:-33px;
	z-index:2;
}

a:hover {
	text-decoration: underline;
}
.ActiveNum{
	font-family:Tahoma;
	font-size:12px;
	text-decoration:none;
	color:#FFF;
	font-weight: bold;
	background-image: url(../images/bg_num.gif);
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
	background-position: center center;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.ActiveNumCalendar {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bolder;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	height: 21px;
	width: 21px;
	background-image: url(../images/bg_num_calendar.gif);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 7px;
}

.border_Gray1x{ border:1px solid #999 }
.border_Gray2x{ border:2px solid #CCC }
.border_brand{
	border:1px solid #CCC;
	height:46px;
	width: 47px;
	display: block;
}
a:hover.border_brand{
	border:1px solid #D5001C;
	height: 46px;
	width: 47px;
	display: block;
}
.border_promotion{
	border:2px solid #FFF;
	height: 97px;
	width: 222px;
	display: block;
}
a:hover.border_promotion{
	border:2px solid #D5001C;
	height: 97px;
	width: 222px;
	display: block;
}
.border_facebook{
	border:2px solid #FFF;
	height:50px;
	width: 50px;
	display: block;
}
a:hover.border_facebook{
	border:2px solid #D5001C;
	height:50px;
	width: 50px;
	display: block;
}
.border_tvc{
	border:2px solid #FFF;
	height:73px;
	width: 118px;
	display: block;
}
a:hover.border_tvc{
	border:2px solid #D5001C;
	height:73px;
	width: 118px;
	display: block;
}
/*
.border_tvc{
	border:2px solid #FFF;
	height:78px;
	width: 179px;
	display: block;
}
a:hover.border_tvc{
	border:2px solid #D5001C;
	height:78px;
	width: 179px;
	display: block;
}
*/
.border_wallpaper{
	border:2px solid #FFF;
	height: 113px;
	width: 150px;
	display: block;
}
a:hover.border_wallpaper{
	border:2px solid #D5001C;
	height: 113px;
	width: 150px;
	display: block;
}
.border_TB {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CECECE;
	border-bottom-color: #CECECE;
}

.input{border:1px solid #C3C3C3; font-family:Tahoma; font-size:11px; color:#7A7A7A}

}

.input-listbox{border:1px solid #C3C3C3; height:19px; font-family:Tahoma; font-size:11px; color:#7A7A7A}
.TxtBlack11B01 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight:bold;
	color: #333;
}
.TxtBlack11B02 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight:none;
	color: #000000;
}
.TxtBlack12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #333;
}
.TxtBlack12B02 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #000;
}
.TxtBlack12B01None {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #333;
	text-decoration:none;
}
.TxtBlue11N01 {
	font-family: Tahoma;
	font-size: 11px;
	color: #005690;
	text-decoration: none;
}
.TxtBlue11B01 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight:bold;
	color: #005690;
	text-decoration: none;
}
.TxtBlue12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #005690;
	text-decoration: none;
}
.TxtGray11N01 {
	font-family: Tahoma;
	font-size: 11px;
	color:#7A7A7A;
}
.TxtGray11N01None {
	font-family: Tahoma;
	font-size: 11px;
	text-decoration:none;
	color: #7A7A7A;
}

.TxtGray12N02 {
	font-family: Tahoma;
	font-size: 12px;
	color: #727272;
}
.TxtGray11N03None {
	font-family: Tahoma;
	font-size: 11px;
	color: #979797;
	text-decoration:none;
}
.TxtGray11N04 {
	font-family: Tahoma;
	font-size: 11px;
	color: #CCC;
}
.TxtGray11N05 {
	font-family: Tahoma;
	font-size: 11px;
	color: #999;
}
.TxtGray11B01 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}
.TxtGray11B02 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight:bold;
	color: #666;
	text-decoration: none;
}
.TxtGray11B03 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight:bold;
	color: #7A7A7A;
	text-decoration: none;
}

.TxtGray12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #858585;
	text-decoration: none;
}
.TxtGray12B02 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #666;
	text-decoration: none;
}
.TxtGray12B03 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #666;
	text-decoration: none;
}
.TxtRed11N01 {
	font-family: Tahoma;
	font-size: 11px;
	color: #E00000;
}
.TxtRed11B01 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #DE0000;
}
.Txtgreen12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #129D00;
}
.Txtgreen12B02 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #129B00;
}
.Txtgreen12B02None {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #129B00;
	text-decoration:none;
}
.TxtRed12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #DE0000;
}
.TxtRed12B02 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.Txtorange11N01 {
	font-family: Tahoma;
	font-size: 11px;
	color: #FF9900;
}
.Txtorange11B01 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FF9900;
}
.Txtorange12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FF9900;
}
.TxtYel12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #CCCC00;
}
.Txtsky12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #3399FF;
}
.Txtgreen12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #88C05B;
}
.TxtRed14B01 {
	font-family: Tahoma;
	font-size: 14px;
	color: #D5001C;
	font-weight: bold;
}
.TxtRed14B02 {
	font-family: Tahoma;
	font-size: 14px;
	color: #D5001C;
	font-weight: bold;
	text-decoration: none;
}
.TxtSky11N01 {
	font-family: Tahoma;
	font-size: 11px;
	color: #72B0DA;
}
.TxtSky11N02 {
	font-family: Tahoma;
	font-size: 11px;
	color: #8BBEE1;
}
.TxtSky11B01 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #72B0DA;
}
.TxtSky12N01 {
	font-family: Tahoma;
	font-size: 12px;
	color: #366799;
	text-decoration: none;
}
.TxtSky12N02 {
	font-family: Tahoma;
	font-size: 12px;
	color: #72B0DA;
}
.TxtYel11N01 {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFF000;
}



.TxtWhite11N01 {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFF;
}
.TxtWhite11B01 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
}
.TxtWhite12B01 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}
.TxtWhite18B01 {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
}

#demotip { 
    display:none; 
    background:transparent url(../tools/img/tooltip/black_arrow.png); 
    font-size:12px; 
    height:70px; 
    width:160px; 
    padding:25px; 
    color:#fff;     
}
#wrapper {
	margin-left: 5;
	margin-right: auto;
	width:226px;			
	}
 
.accordionButton {	
	cursor: pointer;
	}
 
.accordionContent {	
	display: none;
	}
#thisactive{	
	display: block;
	}	
.MarginTxtTable { padding:6px 6px 6px 6px}
