.containers { margin:0 auto; width:459px; height:102px; overflow:hidden; position:relative;}
div.slides { position:absolute; top:0; left:0; }
ul.slides { position:absolute; top:0; left:0; list-style:none; padding:0; margin:0; }
div.slides .sl,ul.slides li { position:absolute; top:0; width:459px; padding:0; margin:0; }

#loopedSlider,#newsSlider {
	width:259px;
	position:relative;
	clear:both;
	height:120px
}
.read { padding:0; margin:0; position:absolute; left:0px; z-index:10; top:305px; }
.read a {}
/* ul.pagination { list-style:none; padding:0; margin:0; position:absolute; left:335px; z-index:20; top:305px} */
ul.pagination { list-style:none; padding:0; margin:0; position:absolute; right:0px; z-index:20; top:305px}
ul.pagination li  { float:left; font-family: "Tahoma"; margin-right:7px}
ul.pagination li a { padding:1px 10px 1px 5px; font-size:11px; color:#000; text-decoration:none; font-weight:bold; min-height:10px; display:block; outline:none; text-indent:-9999px;_text-indent:0px;}
ul.pagination li a.num-1 {background:url(images/num.gif) 0 0 no-repeat; color:#FFFFFF;_background:url(images/num.gif) -110px 0 no-repeat;}
ul.pagination li a.num-2 {background:url(images/num.gif) -22px 0 no-repeat; color:#FFFFFF;_background:url(images/num.gif) -110px 0 no-repeat;}
ul.pagination li a.num-3 {background:url(images/num.gif) -44px 0 no-repeat; color:#FFFFFF;_background:url(images/num.gif) -110px 0 no-repeat;}
ul.pagination li a.num-4 {background:url(images/num.gif) -66px 0 no-repeat; color:#FFFFFF;_background:url(images/num.gif) -110px 0 no-repeat;}
ul.pagination li a.num-5 {background:url(images/num.gif) -88px 0 no-repeat; color:#FFFFFF;_background:url(images/num.gif) -110px 0 no-repeat;}
ul.pagination li a.num-1:hover {background:url(images/num.gif) 0 -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
ul.pagination li a.num-2:hover {background:url(images/num.gif) -22px -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
ul.pagination li a.num-3:hover {background:url(images/num.gif) -44px -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
ul.pagination li a.num-4:hover {background:url(images/num.gif) -66px -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
ul.pagination li a.num-5:hover {background:url(images/num.gif) -88px -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
ul.pagination li.active a.num-1 {background:url(images/num.gif) 0 -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
ul.pagination li.active a.num-2 {background:url(images/num.gif) -22px -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
ul.pagination li.active a.num-3 {background:url(images/num.gif) -44px -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
ul.pagination li.active a.num-4 {background:url(images/num.gif) -66px -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
ul.pagination li.active a.num-5 {background:url(images/num.gif) -88px -22px no-repeat;_background:url(images/num.gif) -110px -22px no-repeat;}
a.previous { background:url(images/but_previous_red.gif) 0 0 no-repeat; display:block; position:absolute; left:-19px; top:40px; text-indent:-9999px; outline:none;}
a.next { background:url(images/but_next_red.gif) 0 0 no-repeat; display:block; position:absolute; right:-21px; top:40px; text-indent:-9999px; outline:none;}
