<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="general" >
        <field type="spacer" name="myspacer1" class="text"
            label="COM_SPTRANSFER_CORE_LABEL" description="COM_SPTRANSFER_CORE_DESC"
        />
        <field
            name="new_ids"
            type="list"
            default="1"
            label="COM_SPTRANSFER_NEW_IDS_LABEL"
            description="COM_SPTRANSFER_NEW_IDS_DESC">
            <option value="1">COM_SPTRANSFER_NEW_IDS_OPTION_1</option>
            <option value="0">COM_SPTRANSFER_NEW_IDS_OPTION_0</option>
            <option value="2">COM_SPTRANSFER_NEW_IDS_OPTION_2</option>
        </field> 
        <field
            name="duplicate_alias"
            type="hidden"
            default="1"
            label="COM_SPTRANSFER_DUPLICATE_ALIAS_LABEL"
            description="COM_SPTRANSFER_DUPLICATE_ALIAS_DESC">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </field> 
        <field type="spacer" name="myspacer2" class="text"
            label="COM_SPTRANSFER_FILES_LABEL" description="COM_SPTRANSFER_FILES_DESC"
        />
        <field
            name="replace_files"
            type="list"
            default="1"
            label="COM_SPTRANSFER_EXISTING_FILES_LABEL"
            description="COM_SPTRANSFER_EXISTING_FILES_DESC">
            <option value="1">JNO</option>
            <option value="0">JYES</option>
        </field>
        <field
            name="batch"
            type="number"
            size="10"
            default="100"
            max="100000"
            min="1"
            label="COM_SPTRANSFER_BATCH_LABEL"
            description="COM_SPTRANSFER_BATCH_DESC"
        />
        <field
            name="save_with_model"
            type="hidden"
            default="1"
            label="COM_SPTRANSFER_SAVE_WITH_MODEL_BUG"
            description="COM_SPTRANSFER_SAVE_WITH_MODEL_BUG_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field> 
    </fieldset>        
    <fieldset name="database">
        <field
            name="driver"
            type="list"
            default="mysqli"
            label="COM_SPTRANSFER_DRIVER_LABEL"
            description="COM_SPTRANSFER_DRIVER_DESC">
            <option value="mysqli">MySQLi</option>
            <option value="mysql">MySQL</option>
        </field>
        <field
            name="host"
            type="text"
            size="100"
            default="localhost"
            label="COM_SPTRANSFER_HOST_LABEL"
            description="COM_SPTRANSFER_HOST_DESC"
        />
        <field
            name="source_database_name"
            type="text"
            size="100"
            default=""
            label="COM_SPTRANSFER_SOURCE_DATABASE_NAME_LABEL"
            description="COM_SPTRANSFER_SOURCE_DATABASE_NAME_DESC"
        />
        <field
            name="source_user_name"
            type="text"
            size="100"
            default=""
            label="COM_SPTRANSFER_SOURCE_USERNAME_NAME_LABEL"
            description="COM_SPTRANSFER_SOURCE_USERNAME_NAME_DESC"
        />
        <field
            name="source_password"
            type="password"
            size="100"
            default=""
            label="COM_SPTRANSFER_SOURCE_PASSWORD_LABEL"
            description="COM_SPTRANSFER_SOURCE_PASSWORD_DESC"
        />
        <field
            name="source_db_prefix"
            type="text"
            size="100"
            default=""
            label="COM_SPTRANSFER_SOURCE_DB_PREFIX_LABEL"
            description="COM_SPTRANSFER_SOURCE_DB_PREFIX_DESC"
        />
        <field
            name="source_path"
            type="hidden"
            size="100"
            default=""
            label="COM_SPTRANSFER_SOURCE_PATH_LABEL"
            description="COM_SPTRANSFER_SOURCE_PATH_DESC"
        />
    </fieldset>
    <fieldset name="ftp">
        <field
            name="ftp_host"
            type="text"
            size="100"
            default="localhost"
            label="COM_SPTRANSFER_FTP_HOST_LABEL"
            description="COM_SPTRANSFER_FTP_HOST_DESC"
        />        
        <field
            name="ftp_port"
            type="text"
            size="100"
            default="21"
            label="COM_SPTRANSFER_FTP_PORT_LABEL"
            description="COM_SPTRANSFER_FTP_PORT_DESC"
        />
        <field
            name="ftp_ssl"
            type="radio"
            label="COM_SPTRANSFER_FTP_SSL_LABEL"
            layout="joomla.form.field.radio.switcher"
            default="0"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="ftp_user"
            type="text"
            size="100"
            default=""
            label="COM_SPTRANSFER_FTP_USER_LABEL"
            description="COM_SPTRANSFER_FTP_USER_DESC"
        />
        <field
            name="ftp_pass"
            type="password"
            size="100"
            default=""
            label="COM_SPTRANSFER_FTP_PASSWORD_LABEL"
            description="COM_SPTRANSFER_FTP_PASSWORD_DESC"
        />
        <field
            name="ftp_root"
            type="text"
            size="100"
            default="/"
            label="COM_SPTRANSFER_FTP_ROOT_LABEL"
            description="COM_SPTRANSFER_FTP_ROOT_DESC"
        />
    </fieldset>
    <fieldset 
        name="liveupdate"
        label="COM_SPCYEND_LIVEUPDATE_LABEL"
        description="COM_SPCYEND_LIVEUPDATE_DESC"
    >
        <field name="downloadid" type="text" default="" size="30"
                   label="COM_SPCYEND_DOWNLOADID_LABEL"
                   description ="COM_SPCYEND_DOWNLOADID_DESC" />
    </fieldset> 
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
        >

        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_sptransfer"
            section="component" />
    </fieldset>
        
</config>

                